<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyBody.MyBody" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyBody.MyBody>
            <setting name="SQLLiteFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_MAIL" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GYMNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SMALL_LOGO" serializeAs="String">
                <value />
            </setting>
            <setting name="LARGE_LOGO" serializeAs="String">
                <value />
            </setting>
            <setting name="SALES_PIC" serializeAs="String">
                <value />
            </setting>
            <setting name="PRODUCTS_PIC" serializeAs="String">
                <value />
            </setting>
        </MyBody.MyBody>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
